.alert {
  border: none;
  color: #ffffff;
  text-shadow: none;
  padding: 10px 15px;
  background: #f5f5f5;
  border-radius: 0;
}

.alert .alert-link {
  font-weight: normal;
  color: #ffffff;
  text-decoration: underline;
}
.alert .alert-link:hover {
  text-decoration: none;
}
.alert.alert-info {
  background: #35b494;
}
.alert.alert-danger {
  background: #d83b4b;
}
.alert.alert-success {
  background: #87be4a;
}
.alert.alert-warning {
  background: #f6b738;
}
.alert.alert-dismissable .close {
  opacity: 0.4;
  filter: alpha(opacity= 40 );
}
