.btn {
  -webkit-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
}

.btn-success {
  background-color: $color-button-success;
  border-color: $color-button-success;
  color: $color-white;

  // .btn-success .badge
  .badge {
    background-color: $color-white;
    color: $color-button-success;
  }

  // .btn-success.btn-outline
  &.btn-outline {
    background: $color-white;
    border-width: 2px;
    color: $color-button-success;
  }
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: $color-button-success-state;
  border-color: $color-button-success-state;
  color: $color-white;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: $color-button-success;
  border-color: $color-button-success;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline.focus,
.btn-success.btn-outline:active,
.btn-success.btn-outline.active {
  border-color: $color-button-success-active;
}

.btn-info {
  background-color: $color-button-white;
  border-color: $color-button-white;
  color: $color-black;

  // .btn-info .badge
  .badge {
    background-color: $color-white;
    color: $color-button-info;
  }

  // .btn-info.btn-outline
  &.btn-outline {
    background: $color-white;
    border-width: 2px;
    color: $color-button-info;
  }
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-color: $color-button-white-state;
  border-color: $color-button-white-state;
  color: $color-black;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: $color-button-info;
  border-color: $color-button-info;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline.focus,
.btn-info.btn-outline:active,
.btn-info.btn-outline.active {
  border-color: $color-button-info-state;
}

.btn-warning {
  background-color: $color-button-warning;
  border-color: $color-button-warning;
  color: $color-white;

  // .btn-warning .badge
  .badge {
    background-color: $color-white;
    color: $color-button-warning;
  }

  // .btn-warning.btn-outline
  &.btn-outline {
    background: $color-white;
    border-width: 2px;
    color: $color-button-warning;
  }
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-color: $color-button-warning-state;
  border-color: $color-button-warning-state;
  color: $color-white;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: $color-button-warning;
  border-color: $color-button-warning;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline.focus,
.btn-warning.btn-outline:active,
.btn-warning.btn-outline.active {
  border-color: $color-button-warning-active;
}

.btn-danger {
  background-color: $color-button-danger;
  border-color: $color-button-danger;
  color: $color-white;

  // .btn-danger .badge
  .badge {
    background-color: $color-white;
    color: $color-button-danger;
  }

  // .btn-danger.btn-outline
  &.btn-outline {
    background: $color-white;
    border-width: 2px;
    color: $color-button-danger;
  }
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-color: $color-button-danger-active;
  border-color: $color-button-danger-active;
  color: $color-white;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: $color-button-danger;
  border-color: $color-button-danger;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline.focus,
.btn-danger.btn-outline:active,
.btn-danger.btn-outline.active {
  border-color: $color-button-red;
}

.btn-group .open .dropdown-toggle,
.input-group .open .dropdown-toggle {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-bottom: 5px;
}
