.btn-success {
  color: #ffffff;
  background-color: #8cc152;
  border-color: #8cc152;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #a0cc70;
  border-color: #a0cc70;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #8cc152;
  border-color: #8cc152;
}
.btn-success .badge {
  color: #8cc152;
  background-color: #ffffff;
}
.btn-success.btn-outline {
  color: #8cc152;
  background: #ffffff;
  border-width: 2px;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline.focus,
.btn-success.btn-outline:active,
.btn-success.btn-outline.active {
  border-color: #6d9d38;
}
.btn-info {
  color: #ffffff;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #50ccad;
  border-color: #50ccad;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-info .badge {
  color: #37bc9b;
  background-color: #ffffff;
}
.btn-info.btn-outline {
  color: #37bc9b;
  background: #ffffff;
  border-width: 2px;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline.focus,
.btn-info.btn-outline:active,
.btn-info.btn-outline.active {
  border-color: #298d74;
}
.btn-warning {
  color: #ffffff;
  background-color: #f6bb42;
  border-color: #f6bb42;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f8c969;
  border-color: #f8c969;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f6bb42;
  border-color: #f6bb42;
}
.btn-warning .badge {
  color: #f6bb42;
  background-color: #ffffff;
}
.btn-warning.btn-outline {
  color: #f6bb42;
  background: #ffffff;
  border-width: 2px;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline.focus,
.btn-warning.btn-outline:active,
.btn-warning.btn-outline.active {
  border-color: #efa50b;
}
.btn-danger {
  color: #ffffff;
  background-color: #da4453;
  border-color: #da4453;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #e16672;
  border-color: #e16672;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #da4453;
  border-color: #da4453;
}
.btn-danger .badge {
  color: #da4453;
  background-color: #ffffff;
}
.btn-danger.btn-outline {
  color: #da4453;
  background: #ffffff;
  border-width: 2px;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline.focus,
.btn-danger.btn-outline:active,
.btn-danger.btn-outline.active {
  border-color: #bc2534;
}
.btn-group .open .dropdown-toggle,
.input-group .open .dropdown-toggle {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-bottom: 5px;
}
