.feedback-desc h3 a,
.feedback-desc h3 {
  color: $color-feedback-light-black;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px;
  text-align: left;
}

.feedback-media img {
  margin: 4px 20px 0 0;
  width: 100%;
}

.feedback-meta {
  display: block;
  margin-bottom: 5px;
  position: relative;

  // .feedback-meta a
  a {
    color: $color-feedback-light-gray;
    font-size: 13px;
    padding-right: 5px;
    text-decoration: none;
  }

  // .feedback-meta i
  i {
    padding-right: 2px;
  }
}

.feedback-wrapper .feedback-desc h3,
.feedback-wrapper .feedback-desc h3 a {
  font-size: 21px;
  padding-top: 20px;
}

.feedback-wrapper .feedback-desc p {
  margin: 20px 0;
  padding: 0;
}

.feedback-wrapper.single-wrapper .feedback-meta {
  margin-bottom: 10px;
}

.feedback-wrapper.single-wrapper .feedback-desc p {
  margin: 0;
  padding-bottom: 20px;
}

// scss-lint:disable MergeableSelector
.feedback-wrapper {
  border-bottom: 1px solid $color-feedback-white;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}

.comments {
  margin: 0;
  padding: 0;

  // .comments img
  img {
    margin-right: 10px;
    max-width: 70px;
  }

  // .comments .text-success
  .text-success {
    color: $color-feedback-black;
    display: inline-block;
    margin-bottom: 5px;
  }

  // .comments .text-muted
  .text-muted {
    color: $color-feedback-gray;
    margin-left: 5px;
  }

  // .comments .media-list
  .media-list li {
    background-color: transparent;
    border: 1px solid $color-feedback-white;
    display: block;
    margin: 20px 0;
    padding: 20px;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;

    // .comments .media-list li p
    p {
      margin: 0;
      padding: 0;
    }
  }
}
