.list-group-item {
  border: 0;

  // .list-group-item + .list-group-item
  + .list-group-item {
    border-top: 1px solid $color-list-white;
  }
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background: $color-list-white;
  border-color: $color-list-white;
  color: $color-list-black;
  z-index: auto;
}
