// -------------------------
// Color palette
// -------------------------

// general colors
$black       : #000;
$gray        : #999;
$light-gray  : #ddd;
$white       : #fff;

// labels
$label-important-color  : #c60f13;
$label-success-color    : #5da423;