
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import 'variables';

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Frontend files
@import "_partials/front/general";
@import "_partials/front/typography";
@import "_partials/front/navbar";
@import "_partials/front/buttons";
@import "_partials/front/forms";
@import "_partials/front/panel";
@import "_partials/front/lists";
@import "_partials/front/feedback";

@media only screen and (min-width: 992px) {
  .col-sep-md {
    border-right: 1px solid #eee;
    min-height:400px;
  }
  .text-right-md {
    text-align: right;
  }
}
>>>>>>> development
